<!-- NOTA IMPORTANTE: Por cuestiones de espacio en el encabezado no logré agregar el logo de Argentina Programa
así que decidí agregarlo en mi FOOTER. Espero no sea molestia y mis disculpas -->

<body>
    <!-- SECCION CONTACTO -->
    <section id="contacto" class="contacto">
        <div class="contenido-seccion">
            <h2>CONTACTO</h2>
            <div class="fila">
                <!-- Formulario -->
                <div class="col">
                    <iframe style="width: 100%; height: 100%;" src="https://frontend-contacto.web.app/"></iframe>
                </div>
                <!-- Mapa -->
                <div class="col">
                    <img src="assets/img/ubicacion.png" alt="">
                    <div class="info">
                        <br>
                        <br>
                        <ul>
                            <li>
                                <i class="fa-solid fa-location-dot"></i>
                                {{Persona?.domicilio}}
                            </li>
                            <li>
                                <i class="fa-solid fa-mobile-screen"></i>
                                Llamame: {{Persona?.telefono}} 
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope"></i>
                                Email: {{Persona?.correo}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>