<!-- NOTA IMPORTANTE: Por cuestiones de espacio en el encabezado no logré agregar el logo de Argentina Programa
así que decidí agregarlo en mi FOOTER. Espero no sea molestia y mis disculpas -->

<body style="margin: 0; margin-bottom: 271.92px;">
    <!-- footer -->
    <footer class="footer_class">
        <a href="#inicio" class="arriba">
            <i class="fa-solid fa-angles-up"></i>
        </a>
        <span class="logo d-none d-sm-inline">
            <img src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1673662276/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png" alt="argpprod">
        </span>
        <div class="redes_class">
            <a href="https://www.facebook.com/facundo.magnaldi"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://wa.me/542634401867?text=!Hola,%20este%20es%20mi%20n%C3%BAmero!%20Facundo%20A.%20Magnaldi"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.linkedin.com/in/facundo-magnaldi-5a928a260"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </footer> 
</body>


