<!-- NOTA IMPORTANTE: Por cuestiones de espacio en el encabezado no logré agregar el logo de Argentina Programa
así que decidí agregarlo en mi FOOTER. Espero no sea molestia y mis disculpas -->

<body>
    <section id="contacto" class="contacto">
             <div class="fila">
                  <div  class="col" data-wow-duration="0.5s" data-wow-delay="0.25s" >
                    <div class="contenido-seccion">
                                <div class="section-heading">
                                    <h2>Editar PROYECTO</h2>
                                    <h3>Nota: Todos los campos deben ser llenados</h3>
                                </div>
                            </div>
                            <div class="col_2">
                                <fieldset>
                                  <button [routerLink]="['/portfolio']">
                                      Volver 
                                      <span class="overlay"></span>
                                  </button>
                                </fieldset>
                              </div>
                    <form [formGroup]="camposCompletos" (ngSubmit)="editarProyecto()" >
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input class="form-control" [(ngModel)]="datosPortfolio.formProyecto.titulo" formControlName="titulo" type="text" name="titulo" id="titulo" pattern="[^ @]*@[^ @]*"
                                            placeholder="Titulo" required="">
                                        <div *ngIf="Titulo?.hasError && Titulo?.touched">
                                            <p *ngIf="Titulo?.hasError('required')" class="text-danger">
                                                El Titulo es Requerido
                                            </p>
                                        </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input class="form-control" [(ngModel)]="datosPortfolio.formProyecto.programa" formControlName="programa" type="text" name="programa" id="programa" 
                                            placeholder="Programa" required="">
                                            <div *ngIf="Programa?.hasError && Programa?.touched">
                                                <p *ngIf="Programa?.hasError('required')" class="text-danger">
                                                    El Programa es Requerido
                                                </p>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input class="form-control" [(ngModel)]="datosPortfolio.formProyecto.fechas" formControlName="fechas" type="text" name="fechas" id="fechas" 
                                            placeholder="Fechas" required="">
                                            <div *ngIf="Fechas?.hasError && Titulo?.touched">
                                                <p *ngIf="Fechas?.hasError('required')" class="text-danger">
                                                    Las Fechas son Requeridas
                                                </p>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input class="form-control" [(ngModel)]="datosPortfolio.formProyecto.descripcion" formControlName="descripcion" type="subject" name="descripcion"  id="descripcion" placeholder="Descripcion"
                                            autocomplete="on">
                                        <div *ngIf="Descripcion?.hasError && Titulo?.touched">
                                            <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                                                La Descripcion es Requerida
                                            </p>
                                        </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input class="form-control" [(ngModel)]="datosPortfolio.formProyecto.url_imagen" formControlName="url_imagen" type="subject" name="url_imagen"  id="url_imagen" placeholder="URL imagen"
                                            autocomplete="on">
                                        <div *ngIf="Url_imagen?.hasError && Url_imagen?.touched">
                                            <p *ngIf="Url_imagen?.hasError('required')" class="text-danger">
                                                La URL de la imagen es Requerida
                                            </p>
                                        </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input class="form-control" [(ngModel)]="datosPortfolio.formProyecto.url" formControlName="url" type="subject" name="url"  id="url" placeholder="URL del proyecto"
                                            autocomplete="on">
                                        <div *ngIf="Url?.hasError && Url?.touched">
                                            <p *ngIf="Url?.hasError('required')" class="text-danger">
                                                La URL del proyecto es Requerida
                                            </p>
                                        </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit">
                                                Guardar <i class="fa-solid fa-paper-plane"></i>
                                                <span class="overlay"></span>
                                            </button>
                                          </fieldset>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
    </section>

    <app-footer-forms></app-footer-forms>
    
</body>
