<!-- NOTA IMPORTANTE: Por cuestiones de espacio en el encabezado no logré agregar el logo de Argentina Programa
así que decidí agregarlo en mi FOOTER. Espero no sea molestia y mis disculpas -->

<body>
<!-- SECCION SKILLS -->
<section class="skills" id="skills">
    <div class="contenido-seccion">
        <h2>Skills</h2>
        <div class="fila">
            <!-- Technical Skill -->
            <div class="col">
                <h3>Technical Skills</h3>
                <div class="skill">
                    <span>Java Script</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>HTML y CSS</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Type Script</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>95%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Java</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>SQL</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>100%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Professional Skills -->
            <div class="col">
                <h3>Professional Skills</h3>
                <div class="skill">
                    <span>Comunicación</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>89%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Trabajo en Equipo</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Creatividad</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>99%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Dedicación</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Gestión de Proyectos</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>